<%- include('../partials/_header.ejs') -%>

		<!-- sidebar -->
    <%- include('../partials/_sidebar.ejs') -%>
		<!-- sidebar -->
	
		<div class="page-wrapper">
					
			<!-- partial:partials/_navbar.html -->
      <%- include('../partials/_navbar.ejs') -%>
			<!-- partial -->

			<div class="page-content">

          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card" style="border-radius: 1rem; padding: 20px;">
              <div class="card-body">
                <%- siteData.site.text.terms %>
              </div>
            </div>
          </div>
        <!-- Sipariş -->

			</div>

			<!-- footer -->
			<%- include('../partials/_footer.ejs', { page: "terms" }) -%>
			<!-- footer -->